/*
    File Name: style.css
    Description: Main stylesheet

    @author: Analia Mok
 */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*
    Removing Text Decoration from all anchor tags
    Most anchor tags will be a darker shade of white
 */
a{
    text-decoration: none;
    color: #EEEEEE;
}

/* Navigation Styling */
nav{
    height: 100%;
    /*position: fixed;
    top: 0;
    left: 0;
    bottom: 0;*/
    position: fixed;
    /*float: left;*/

    background-color: #3F3F3F;
    text-align: center;
}

nav div#inner-container{
    /* Container inside nav to allow absolute positioning */
    height: 100%;
    width: 100%;
    position: relative;
}

/* Top Box Of Navigation */
nav div#profile-img{
    width: 100%;
    padding: 25% 0;
    background-color: #232323;
}

/* User Initials Container */
nav div#profile-img span{
    display: inline-block;
    vertical-align: middle;
    color: #47D2E9;
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
}

nav ul{
    display: block;
    list-style: none;
    margin: 0 1.5rem;
    padding: 0;
}

nav ul li{
    margin: 0.5rem 0;
}

nav ul li a{
    display: block;
    font-size: 2.5em;
}

nav ul li a#active,
nav ul li a:hover{
    color: #47D2E9;
}

nav ul li a span.ion-ios-gear-outline{
    /*font-size: 2.6em;*/
}

/* Logout Button */
nav a#logout-btn{
    display: block;
    margin: 0 0.75rem;

    font-size: 40px;
    margin-top: 3rem;
    padding: 0.3em;
    border-radius: 50%;
    background-color: #47D2E9;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);

    transition: background-color 0.5s, color 0.5s;
}

nav a#logout-btn:hover{
    color: #3F3F3F;
    background-color: #EEE;
}

/*
Position main off to the right to avoid nav bar
 */

main{
    /*position: fixed;
    left: 5.5em;*/
    background-color: #EEEEEE;
    width: 100%;
    /*overflow-y: auto;*/
    /*float: left;*/
}

/* Container for table heading and table itself */
div.table-group{
    display: inline-block;
    margin: 2rem 0 2rem 3.125rem;
}

/* Experimental Styling */
div.content{
    padding-left: 5.5em;
}


/* Standard Table Formatting */
table.std_table{
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
}

table.std_table thead tr{
    background-color: #53DF83;
    border: 1px solid #53DF83;
}

table.std_table tbody tr{
    background-color: #fff;
    border: 1px solid #95989A;
}

table.std_table th, table.std_table td{
    padding: 0.5em 2em;
    text-align: left;
    vertical-align: middle;
    color: #2B2B2B;
}

table.std_table th{
    /* th cells should have white text & heavier font */
    color: #fff;
    font-weight: 600;
}

/* Header above the table */
div.table-heading{
    position: relative;
    margin-bottom: 1rem;
}

div.table-heading h2{
    display: inline;
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    color: #2B2B2B;
}

div.table-heading span{
    /* Outerspan styling */
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #2B2B2B;
}

div.table-heading span.outer-span{
    /* Place toward right border of table */
    position: absolute;
    right: 0;
    bottom: 0;
}

div.table-heading span span{
    /* Slightly heavier weight for time record */
    font-weight: 600;
}


@media screen and (min-width: 768px){
    /* Desktop Styling */
    nav a#logout-btn{
        /* Position towards the bottom of the inner-container */
        margin: 0;
        position: absolute;
        left: 0.75rem;
        bottom: 0.75rem;
        z-index: 1;
    }

    /* Reset Table styling to default positioning */
    table.std_table tr,
    table.std_table th,
    table.std_table td{
        display: static;
    }

}
