/*
    File Name: style.css
    Description: Main stylesheet

    @author: Analia Mok
 */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*
    Removing Text Decoration from all anchor tags
    Most anchor tags will be a darker shade of white
 */
a{
    text-decoration: none;
    color: #EEEEEE;
}

/************************** Navigation Styling **************************/
nav{
    height: 100%;
    /*position: fixed;
    top: 0;
    left: 0;
    bottom: 0;*/
    position: fixed;
    /*float: left;*/

    background-color: #3F3F3F;
    text-align: center;
}

nav div#inner-container{
    /* Container inside nav to allow absolute positioning */
    height: 100%;
    width: 100%;
    position: relative;
}

/* Top Box Of Navigation */
nav div#profile-img{
    width: 100%;
    padding: 25% 0;
    background-color: #232323;
}

/* User Initials Container */
nav div#profile-img span{
    display: inline-block;
    vertical-align: middle;
    color: #47D2E9;
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
}

nav ul{
    display: block;
    list-style: none;
    margin: 0 1.5rem;
    padding: 0;
}

nav ul li{
    margin: 0.5rem 0;
}

nav ul li a{
    display: block;
    font-size: 2.5em;
}

nav ul li a#active,
nav ul li a:hover{
    color: #47D2E9;
}

nav ul li a span.ion-ios-gear-outline{
    /*font-size: 2.6em;*/
}

/* Logout Button */
nav a#logout-btn{
    display: block;
    margin: 0 0.75rem;

    font-size: 40px;
    margin-top: 3rem;
    padding: 0.3em;
    border-radius: 50%;
    background-color: #47D2E9;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);

    transition: background-color 0.5s, color 0.5s;
}

nav a#logout-btn:hover{
    color: #3F3F3F;
    background-color: #EEE;
}

/*
Position main off to the right to avoid nav bar
 */

main{
    background-color: #EEEEEE;
    width: 100%;
}

/* Content Wrapper */
div.content{
    padding-left: 5.5em;
    overflow: auto;
    min-height: 100vh;
}

div.content h2{
    margin: 2rem 0 0 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    color: #2B2B2B;
}

/********************* Global form-holder styling *********************/
div.form-holder{
    /*width: 80%;
    margin: 0 auto;
    text-align: center;*/
    margin: 1rem 0 0 2rem;
}

div.form-holder div.student-info-group{
    display: table;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: left;
    font-family: Montserrat, sans-serif;

    border: 2px solid #AAA;
}

div.form-holder div.assign-group div input[type=date],
div.form-holder div.student-info-group div select,
div.form-holder div.student-info-group div input[type=text]{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

div.form-holder div.student-info-group div{
    display: table-row;
    margin: 0.3rem 0.5rem;
}

div.form-holder div.assign-group div.item,
div.form-holder div.assign-group div h2,
div.form-holder div.assign-group div ul,
div.form-holder div.assign-group div button,
div.form-holder div.assign-group div input[type=date],
div.form-holder div.assign-group div input[type=hidden],
div.form-holder div.student-info-group div.button-group button,
div.form-holder div.student-info-group div select,
div.form-holder div.student-info-group div input[type=text],
div.form-holder div.student-info-group div label{
    display: table-cell;
    margin: 0.5rem;
    padding-right: 1rem;
    vertical-align: middle;
    text-align: left;
    font-size: 1rem;
}

div.form-holder div.student-info-group div label{
    font-weight: normal;
}

div.form-holder div.assign-group div#table-header label{
    font-weight: 600;
}

div.form-holder div.category:hover span,
div.form-holder div.sub-category:hover span{
    text-decoration: underline;
    cursor: pointer;
}

div.form-holder div.category span,
div.form-holder div.sub-category span{
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    color: #47D2E9;
}

div.form-holder div.category span.ion,
div.form-holder div.sub-category span.ion{
    font-size: 20px;
}

div.form-holder div.button-group input[type=submit],
div.form-holder div.button-group input[type=reset],
div.form-holder div.button-group input[type=button]{
    margin: 0 2rem 2rem 0;

    -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16);
}

/*********************** Form Column Styling ***********************/
div.form-column{
    display: inline-block;
    vertical-align: top;
    width: 45%;

    font-family: "Open Sans", sans-serif;
}

div.form-column h3{
    font-family: Montserrat, sans-serif;
}

div.form-column ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

div.form-column ul li{
    margin: 0.25rem 0;
}

div.form-column ul li > ul{
    padding-left: 1.5rem;
}

div.form-column input[type=text]{
    width: 3rem;
}

/**************** Login & Registration Page Styling ****************/

main#login-main{
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    position: relative;
}

main#login-main h2{
    display: block;
    margin: 0;
    padding: 0;
    color: #47D2E9;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
}

main#login-main div.form-holder{
    width: 90%;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

#errors,
main#login-main div.form-holder div#successes,
main#login-main div.form-holder div#errors{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

#errors p,
main#login-main div#successes p,
main#login-main div.form-holder div#errors p{
    display: list-item;
    font-family: Montserrat, sans-serif;
    color: #E74C3C;
}

main#login-main div.form-holder div#successes p{
    color: #2ECC71;
}

main#login-main div.form-holder input[type=text],
main#login-main div.form-holder input[type=password],
main#login-main div.form-holder div.input-group{
    display: block;
    width: 95%;
    margin: 0.5rem auto;
}

main#login-main div.form-holder input[type=text],
main#login-main div.form-holder input[type=password],
div.form-holder div.input-group input[type=text],
div.form-holder div.input-group input[type=password]{
    /* Change Later to account for icon spans */
    display: block;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.75rem 0.5rem;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    color: #2B2B2B;
}

main#login-main div.form-holder div.input-group span{
    display: inline-block;
    margin: 0;
    padding: 0.75rem 0;
    width: 15.6%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #606060;
    color: #FFF;
}

main#login-main div.form-holder div.input-group input[type=text],
main#login-main div.form-holder div.input-group input[type=password]{
    display: inline-block;
    width: 80%;
    height: 100%;
    padding: 0.8rem 0 0.8rem 1rem;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    outline: none;
    border: 0;
}

main#login-main div#button-group{
    margin: 0 auto;
    text-align: center;
}

main#login-main div#button-group button,
main#login-main div#button-group input[type=submit]{
    margin-top: 1rem;
    padding: 0.55rem 0;
    background-color: #47D2E9;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    width: 40%;

    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

main#login-main div#button-group button{ margin-right: 1rem; }

/* Errors Container */
div#errors-holder{
    margin-bottom: 1.5rem;
}

div#errors-holder ul{
    display: inline-block;
    padding: 1rem 1rem 1rem 2rem;
    list-style: circle;
    border: 1px solid #E74C3C;
}

div#errors-holder ul li{
    font-family: Montserrat, sans-serif;
    font-style: italic;
    color: #E74C3C;
}


/* Container for table heading and table itself */
div.table-group{
    display: inline-block;
    margin: 2rem 2rem 0 2rem;
    width: 90%;
}
/* Header above the table */
div.table-heading{
    width: 100%;
    position: relative;
}

div.table-heading h2{
    /*display: inline;*/
    display: block;
    margin: 0;
    padding: 0.5em 1em;
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    color: #FFF;
    background-color: #53DF83;
    border: 1px solid #53DF83;
}

div.table-heading span{
    /* Outerspan styling */
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: #2B2B2B;
}

div.table-heading span.outer-span{
    /* Place toward right border of table */
    /*position: absolute;
    right: 0;
    bottom: 0;*/
    display: block;
    text-align: center;
    background-color: #FCFCFC;
    padding: 0.5em 0;
    border: 1px solid #95989A;
    border-top: 0;
}

div.table-heading span span{
    /* Slightly heavier weight for time record */
    font-weight: 600;
}

/********************** Standard Table Formatting **********************/
div.std-table{
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

div.std-table div.table-head{
    /* Table Head Should not be visible on small screens */
    display: none;
}

/*
    ==== KEY ====
      ul == tr
      li == td
    =============
 */
div.std-table ul{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 1em 0 1em 1em;
    background-color: #FFF;
    border: 1px solid #95989A;
}

div.std-table ul:nth-child(even){
    /*
        Helps with differentiating rows FireFox doesn't
        show border for some reason
     */
    background-color: #F7F7F7;
}

/* Hover Styling */
div.std-table ul:hover{
    background-color: rgba(83, 223, 131, 0.75);
    border: 0;
}

div.std-table ul:hover li{
    font-weight: 600;
    color: #FFF;
}

div.std-table ul li{
    display: inline;
}

div.std-table ul li::before{
    content: attr(data-title) "\00a0";
    font-weight: 600;
}

div.std-table ul li.unbold-title-item::before{
    /* "for" should not be bolded */
    font-weight: 500;
}

div.std-table ul li.empty-cell{
    /* Need to state explicitly to have separate lines */
    display: list-item;
}

div.std-table ul li.empty-cell::before{
    /* Empty Cells should not have content */
    content: "";
}

/* More specific parts of table */

div.std-table ul li.date{
    position: absolute;
    right: 1rem;
}

/* Icon Holders */
div.std-table ul li a{
    display: inline-block;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: #47D2E9;
    border-radius: 40px;
    font-size: 20px;
    color: #FFF;
}

/* Button Holder */
div.table-button-holder{
    text-align: center;
}

.table-button-holder button{
    font-family: "Open Sans", sans-serif !important;
}

/************************ Calendar Styling ************************/
table#mini-calendar,
div.upcoming-container,
table.calendar{
    font-family: Montserrat, sans-serif;
    background-color: #FFF;
    border-collapse: collapse;
    width: 80%;
    height: auto;
    margin: 2rem auto;
}

/* Make mini-calendar smaller to fit within its container */
table#mini-calendar{
    width: 65%;
}

/* Table cells*/
table#mini-calendar thead tr th,
table.calendar thead tr th{
    padding: 0.5em 0;
    background-color: #53DF83;
    color: #FFF;
    font-weight: normal;
}

table#mini-calendar th,
table#mini-calendar td,
table.calendar th,
table.calendar td{
    text-align: center;
    vertical-align: middle;
    color: #2B2B2B;
    padding: 0.5em 0;
}

table#mini-calendar td.other-month,
table.calendar td.other-month{
    /* Fade Out Other Month Days */
    opacity: 0.6;
}

/* Table Row Containing Weekdays */
table#mini-calendar tr.weekdays td,
table.calendar tr.weekdays td{
    /*padding: 0.5em 0;*/
    color: #53DF83;
}

table#mini-calendar td#today,
table.calendar td#today{
    /* Today's Cell */
    font-weight: 600;
    color: #53DF83;
}

/* Events of a day */
table.calendar span.events{
    display: none;
}

/****************** Upcoming Events Container ******************/
div.upcoming-container{ background-color: #EEE; }

div#home-upcoming h2,
div.upcoming-container h2{
    text-align: center;
    background-color: #53DF83;
    color: #FFF;
    font-weight: normal;
    padding: 0.25em 0;
}

/* List Item Styling */
div.upcoming-container div.upcoming-list-item{
    margin: 0.5rem 0;
    background-color: #FFF;
    font-family: "Open Sans", sans-serif;
    position: relative;

    /* Indicator TODO: Separate into own class */
    border-left: 10px solid #E74C3C;
}

div.upcoming-list-item div.info-holder{
    display: inline-block;
    margin: 0.5em;
    /*padding: 0.5em 0;*/
}

div.upcoming-list-item span{
    display: block;
}

div.upcoming-list-item span.date{
    font-weight: bold;
    font-size: 0.75em;
}

div.upcoming-list-item input[type=checkbox]{
    position: absolute;
    right: 1em;
    top: 32.7%;
}

/* Nothing to find messages */
span#nothing-message{
    display: block;
    color: #2B2B2B;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

/* Input Sections Above a Standard table */
div.input-section{
    margin: 1rem 0 0 2rem;
}

div.input-section select{
    width: 50%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-family: "Open Sans", sans-serif;
}

div.input-section input[type=search]{
    background: transparent;
    border: none;
}

div.search-bar{
    display: inline-block;
    width: 50%;
    border: 1px solid #95989A;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    background-color: #FFF;

    padding: 0.5rem 1rem;
}

div.search-bar span.ion-android-search{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #2B2B2B;
    margin-right: 0.5rem;
}

div.search-bar input[type=search]{
    display: inline-block;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
}

/*********************** Reusable Button Class ***********************/
.blue-btn{
    display: block;
    width: 50%;
    margin: 1rem 0 0 0;
    padding: 0.5rem 1rem;
    border: 0;
    outline: none;

    color: #FFF;
    background-color: #47D2E9;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;

    border-radius: 6px;
    cursor: pointer;
}

.blue-btn .ion-edit,
.blue-btn .ion-plus{
    font-size: 20px;
    margin-right: 0.5em;
}

.blue-btn span{
    vertical-align: middle;
}

/************************ Reusable Alert Messages ************************/
div.alert-message{
    width: 80%;
    position: relative;
    margin: 1rem auto;
    padding: 1rem 3rem 1rem 1rem;
    font-family: "Open Sans", sans-serif;
    color: #FFF;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.alert-message p,
div.alert-message ul{
    margin-top: 0;
    margin-bottom: 0;
}

div.alert-message .lnr-cross{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

div.alert-message .lnr-cross:hover{
    text-decoration: underline;
}


/* Default Colors for Success & Error Messages */
#success{ background-color: #2ECC71; }

#error{ background-color: #E74C3C; }

/********************** Re-usable Modal/Popup Messages **********************/

div.modal{
    /* TODO: Uncomment later */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.16);
}

div.modal-content{
    margin: 2% auto;
    padding-bottom: 1.5rem;
    width: 80%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFF;

    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .16);
    box-shadow: 0 0 10px rgba(0, 0, 0, .16);
}

div.modal-content h2{
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: #53DF83;
    color: #FFF;
}

div.modal-content span.lnr-cross{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FFF;

    cursor: pointer;
}


/**************** Tablet & Desktop Half-Screen Styling ****************/
@media screen and (min-width: 768px){

    nav a#logout-btn{
        /* Position towards the bottom of the inner-container */
        margin: 0;
        position: absolute;
        left: 0.75rem;
        bottom: 0.75rem;
        z-index: 1;
    }

    /* Login & Registration Form Holder */
    main#login-main div.form-holder{
        width: 30%;
    }

    /* Make table group smaller */
    div.table-group{ width: 60%; }

    /* Adjust table heading */
    div.table-heading{
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
    }

    div.table-heading h2,
    div.table-heading span.outer-span{
        /* Remove backgrounds and place one same line */
        display: inline;
        background-color: #EEE;
        border: 0;
        color: #2B2B2B;
        padding: 0;
        margin: 0;
    }

    /* Change font-weight back to Regular */
    div.table-heading h2{ font-weight: 500; }

    /* "Total Time" container */
    div.table-heading span.outer-span{
        text-align: left;
        display: block;
    }

    /* Adjust std-table to use CSS Tables */
    div.table-group{ position: relative; }

    div.std-table{
        display: table;
        position: relative;
        border-collapse: collapse;
    }

    div.std-table div.table-head{
        /* Table Head Should not be visible on small screens */
        display: table-header-group;
    }

    div.std-table div.table-body{
        display: table-row-group;
    }

    div.std-table ul{
        display: table-row;
    }

    div.std-table div.table-head ul{
        border: 1px solid #53DF83;
        background-color: #53DF83;
        color: #FFF;
        font-weight: 600;
    }

    div.std-table div.table-body ul{
        border: 1px solid #95989A;
        border-top: 0;
    }

    /* Hover Effect */
    /*div.std-table ul:hover{
        background-color: rgba(83, 223, 131, 0.5);
        border: 0;
    }

    div.std-table ul:hover li{
        color: #FFF;
    }*/

    div.std-table ul li{
        display: table-cell;
        padding: 0.5em 1em;

        cursor: pointer;
    }

    div.std-table ul li::before{
        content: "";
    }

    div.std-table ul li.empty-cell{
        display: none;
    }

    /* More unique table specifc styling */
    div.std-table ul li.date{
        position: static;
    }

    div.std-table ul li a{
        margin-top: 0;
    }


    /* Calendar Styling */
    table.calendar{
        /* Removing auto margin */
        width: 70%;
        margin: 2rem 0 2rem 0.5rem;
    }

    table.calendar thead tr th{
        /* Making Calendar Styling larger */
        text-align: left;
        padding: 1rem 0 1rem 2rem;
        font-size: 1.5rem;
        border: 1px solid #53DF83;
    }

    table.calendar td{
        border: 1px solid #95989A;
        width: 5vw;
        height: 10vh;
        padding: 0.5rem 0 0 0.5rem;
        text-align: left;
        vertical-align:top;
    }

    table.calendar tr.weekdays td{
        width: auto;
        height: auto;
        padding: 0.75rem 0;
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
    }

    /* Events of a day */
    table.calendar span.events{
        display: block;
        background-color: #E74C3C;
        color: #FFF;
        font-size: 0.9rem;
        text-align: center;
        margin: 0 0.5rem 0.25rem 0;
        padding: 0.25rem;
        border-radius: 9px;
    }

    /* mini-calendar styling */
    table#mini-calendar{
        /*width: 80%;
        margin: 1rem auto;*/
    }

    div.alert-space,
    div.upcoming-container{
        /* Position towards right hand side */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;

        background-color: #3F3F3F;
        width: 25%;
        margin: 0 0 0 1rem;

        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .16);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .16);
        box-shadow: 0 0 20px rgba(0, 0, 0, .16);
    }

    div.alert-space{
        width: 30%;
        background-color: #EEE;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    div#home-upcoming{
        overflow-y: scroll;
    }

    div.upcoming-container h2{
        text-align: left;
        background-color: #3F3F3F;
        font-weight: 600;
        margin-left: 2rem;
    }

    div#home-upcoming h2{
        text-align: center;
        background-color: #53DF83;
        color: #FFF;
        font-size: 1rem;
        font-weight: normal;
        margin: 3rem 2rem 1rem 2rem;
        padding: 0.5em 0;
    }

    /* List Item Styling */
    div.upcoming-container div.upcoming-list-item{
        margin: 0 1rem 1rem 1rem;
    }

    div.upcoming-list-item div.info-holder{
        display: inline-block;
        margin: 0.5em;
    }

    /* Hide list item checkboxes when displaying on dashboard */
    div.upcoming-list-item div#home-upcoming input[type=checkbox]{
        display: none !important;
    }


    /* Nothing to find messages */
    span#nothing-message{
        color: #FFF;
        text-align: left;
        margin-left: 2rem;
    }

    /* Reusable Button Class */
    .blue-btn{
        display: inline-block;
        width: auto;
        margin-right: 1rem;
        /*margin-left: 1rem;*/
    }

    div.input-section .search-bar,
    div.input-section select{
        width: auto;
        margin-right: 1rem;
    }

} /* End of tablet & desktop half-screen styling */


/************************* Full desktop screens *************************/
@media screen and (min-width: 1128px){
    div.table-heading span.outer-span{
        /* Place toward right border of table */
        position: absolute;
        right: 0;
        bottom: 0;
    }

    /* Large Calendar Styling */
    table.calendar{
        margin-left: 2rem;
    }

    /* mini-calendar styling */
    table#mini-calendar{
        width: 80%;
        margin: 2rem auto 1rem auto;
    }

    /* List Item Styling */
    div.upcoming-container div.upcoming-list-item{
        margin: 0 2rem 1rem 2rem;
    }

    /* Re-usable Modal Styling */
    div.modal-content{
        width: 65%;
    }

}
